<div class="container page-order">
    <div class="container-fluid my-5 justify-content-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="http://localhost:3000/">Home</a></li>
                <li class="breadcrumb-item"><a href="http://localhost:3000/user/profile">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
        </nav>
        <div class="card px-2">

            <div class="card-body">
                <div class="media flex-column flex-sm-row">
                    <div class="media-body row">
                        <div class="col-sm-6">
                            <p class="text-muted"> Order: <span class="font-weight-bold text-dark">
                                    #{{order._id}}</span>
                            </p>
                            <p class="text-muted"> Place On: <span
                                    class="font-weight-bold text-dark">{{order.date}}</span>
                            </p>
                            <h5 class="mt-2 mb-2">Status: {{order.orderStatus}} <span class="badge bg-secondary">ETA : {{order.orderEta}} mins</span></h5>

                            <p>Order Type: {{order.deliveryType}}</p>
                            <p>Payment Status: {{order.paymentStatus}}</p>

                            <p class="text-muted mt-3">Contact Detail</p>
                            <p>Name: {{order.deliveryName}}</p>
                            <p>Phone Number: {{order.deliveryContact}}</p>
                            <p>Address: {{order.deliveryAddress}}</p>
                            <button class="btn mt-3 btn-light">Cancel Order</button>
                            <hr/>
                        </div>
                        <div class="col-sm-6 offset-sm-0 col-md-6 offset-md-0">
                            {{#each order.cart.items}}
                            <div class="cart-item">
                                <p>{{this.qty}} x {{this.item.title}}</p>
                                <p class="price">Price: ${{this.price}}</p>
                                {{#if this.additionalChoices}}
                                <p class="price">Option: {{this.additionalChoices}}</p>
                                {{else}}
                                <p class="price">Option: None</p>
                                {{/if}}
                                {{#if this.additionalNote}}
                                <p class="price">Notes : {{this.additionalNote}}</p>
                                {{/if}}
                            </div>

                            {{/each}}
                            <hr/>
                            <div class="row">
                                <div class="col-6">
                                    <b>{{order.cart.totalQty}} items</b>
                                    <p>Vat 4%</p>
                                    <p>Tips</p>
                                </div>
                                <div class="col-5 text-end">
                                    <b>{{order.cart.totalPrice}}$</b>
                                    <p>{{order.tax}}$</p>
                                    <p>{{order.tip}}$</p>
                                </div>
                                

                            </div>
                            <hr/>
                             <div class="row">
                                <div class="col-6">
                            
                                    <b>Total</b>
                                </div>
                                <div class="col-5 text-end">
                                    <b>{{order.totalPrice}}$</b>
                              
                                </div>
                                

                            </div>
                             <hr/>
                              <hr/>
                        
                        </div>
                        

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/stylesheets/order.js"></script>