<div class="container page-products">
    <div class="foodnav">
        <ul>
            <li><a href="/menu">PYE DISHES</a></li>
            <li><a href="/menu/noodles">PYE NOODLES</a></li>
            <li><a href="/menu/vegetarian">PYE VEGETARIAN</a></li>
            <li><a href="/menu/drinks">DRINK & DESERT</a></li>
        </ul>
        <ul>
          {{#if login }}

            <div class="delivery">
                <div class="textoverflow">
                    <p>Delivery to : {{user.address}} </p>
                </div>
                <a href="/user/adddeliverylocation" id="change">Change</a>
            </div>
            <li>
                <a href="/shopping-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="badge bg-secondary">{{session.cart.totalQty}}</span>
                    $ {{totalPrice}}
                </a>
            </li>

            {{else}}
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signInModal">START MY
                ORDER</button>
            <li>
                <a href="/shopping-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="badge bg-secondary">{{session.cart.totalQty}}</span>
                    $ {{totalPrice}}

                </a>
            </li>
            {{/if}}
        </ul>
    </div>
    <input type="hidden" id="storeStatus" value="{{store.status}}">
    <div class="snack">
        <div class="container">
            <h2>PYE BOAT NOODLES</h2>
            <div class="row">
               {{#each boat}}
                <div class="col-6 col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="{{ this.imagePath.[0] }}" class="img-fluid rounded-start" alt="{{this.title}}">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    <p class="card-text">{{this.description}}</p>
                                    <input type="hidden" id="status-{{this._id}}" value="{{this.status}}">
                                    <button class="form-control  add-button" data-bs-toggle="modal" data-bs-target="#{{this._id}}">+${{this.price}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if @index.isEven}}
                <!-- Add div after every even index -->
                <div class="w-100 d-none d-md-block"></div>
                {{/if}}
                <!-- Food Modal -->
                <div class="modal fade" id="{{this._id}}" tabindex="-1" aria-labelledby="{{this._id}}Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="{{this.item._id}}">{{this.title}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/add-to-cart/{{id}}" method="POST">
                            <div class="modal-body food-modal">
                                <div class="price-flex">
                                    <p><strong>{{this.title}}</strong></p>
                                    <p><strong id="basePrice">${{this.price}}</strong></p>
                                </div>
                                {{#if additionalChoices}}
                                    {{#each additionalChoices}}
                                    <p class="choiceTitle">{{this.title}}</p>
                                    {{#each choices}}
                                    <label>
                                        
                                        <div class="price-flex">
                                            <div class="price-flex flex-radio">
                                                <input type="radio" name="additionalChoice{{@../index}}" value="{{this}}" required> 
                                                <p class="choiceTitle">{{this}}</p>
                                            </div>
                                            <p class="choiceTitle adittionalPrice">+${{lookup ../prices @index}}</p>
                                        </div>  
                                    </label>
                                    {{/each}}
                                    {{/each}}
                                {{/if}}
                                <p class="choiceTitle margin-top">Additional requests (if any)</p>
                                <textarea  name="additionalNote"></textarea>
                            </div>
                            <div class="modal-footer footer-food-modal">
                                    <button class="btn btn-primary w-100" type="submit">Add to Cart <span id="calculatedPrice">(${{this.price}})</span></button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="rice">
        <div class="container">
            <h2>PYE DRY NOODLES</h2>
            <div class="row">
                {{#each dry}}
                <div class="col-6 col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="{{ this.imagePath.[0] }}" class="img-fluid rounded-start" alt="{{this.title}}">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    <p class="card-text">{{this.description}}</p>
                                    <input type="hidden" id="status-{{this._id}}" value="{{this.status}}">
                                    <button class="form-control  add-button" data-bs-toggle="modal" data-bs-target="#{{this._id}}">+${{this.price}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if @index.isEven}}
                <!-- Add div after every even index -->
                <div class="w-100 d-none d-md-block"></div>
                {{/if}}
                <!-- Food Modal -->
                <div class="modal fade" id="{{this._id}}" tabindex="-1" aria-labelledby="{{this._id}}Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="{{this.item._id}}">{{this.title}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/add-to-cart/{{id}}" method="POST">
                            <div class="modal-body food-modal">
                                <div class="price-flex">
                                    <p><strong>{{this.title}}</strong></p>
                                    <p><strong id="basePrice">${{this.price}}</strong></p>
                                </div>
                                {{#if additionalChoices}}
                                    {{#each additionalChoices}}
                                    <p class="choiceTitle">{{this.title}}</p>
                                    {{#each choices}}
                                    <label>
                                        
                                        <div class="price-flex">
                                            <div class="price-flex flex-radio">
                                                <input type="radio" name="additionalChoice{{@../index}}" value="{{this}}" required> 
                                                <p class="choiceTitle">{{this}}</p>
                                            </div>
                                            <p class="choiceTitle adittionalPrice">+${{lookup ../prices @index}}</p>
                                        </div>  
                                    </label>
                                    {{/each}}
                                    {{/each}}
                                {{/if}}
                                <p class="choiceTitle margin-top">Additional requests (if any)</p>
                                <textarea  name="additionalNote"></textarea>
                            </div>
                            <div class="modal-footer footer-food-modal">
                                    <button class="btn btn-primary w-100" type="submit">Add to Cart <span id="calculatedPrice">(${{this.price}})</span></button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="close-btn">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <a href="/user/signin" id='signin' class="form-control">Sign In</a>
                    <p>Your first order? <a href="#">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/stylesheets/products.js'></script>