<div class="page page-cart">
    <div class="container">

        <div class="row">
            {{#if products}}
            <h1>YOUR ORDER</h1>
            <div class="col-12 col-sm-7">

                <div class="flex-column-1">
                    {{#each products}}
                    <div class="flex-row-1">
                        <div class="flex-row-2">
                            <div>
                                <h2>{{this.qty}}x {{this.item.title}}</h2>
                                <p>{{this.item.description}}</p>
                                <p>{{{this.additionalChoices}}}</p>
                                <p>{{{this.additionalNote}}}</p>
                                <div class="quantity">
                                    <a href="/reduce/{{this.item._id}}-{{additionalChoices}}-{{additionalNote}}"><i
                                            class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></a>
                                    <button type="button" class="btn">{{this.qty}}</button>
                                    <form
                                        action="/addone-to-cart/{{this.item._id}}"
                                        method="POST">
                                        <input type="hidden" name="price" value="{{this.price}}"/>
                                        <input type="hidden" name="qty" value="{{this.qty}}"/>
                                        <input type="hidden" name="additionalChoices" value="{{this.additionalChoices}}"/>
                                        <input type="hidden" name="additionalNote" value="{{this.additionalNote}}"/>
                                        <!-- form fields and other elements -->
                                        <button type="submit" style="background: none; border: none; padding: 0;">
                                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        {{!-- --}}
                        <div class="flex-column-between">
                            <a data-bs-toggle="modal" data-bs-target="#{{this.item._id}}"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                            <h3>${{this.price}}</h3>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{this.item._id}}" tabindex="-1"
                        aria-labelledby="{{this.item._id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Remove <b>{{this.item.title}}</b> from the order?
                                </div>
                                <div class="modal-footer">
                                    <a href="/remove/{{this.item._id}}-{{additionalChoices}}-{{additionalNote}}"
                                        class="btn btn-secondary">Okay</a>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <p>Delivery to :
                </p>
                <a href="/user/adddeliverylocation" id="address"> {{user.address}}</a>

                <hr>
                <div class="flex-coloumn-1">
                    <div class="flex-row-3">
                        <h4>{{session.cart.totalQty}} item</h4>
                        <h4>${{cart.totalPrice}}</h4>
                    </div>
                    <div class="flex-row-3">
                        <p>Delivery Charge</p>
                        <p>$0</p>
                    </div>

                    <hr>
                    <div class="flex-row-3">
                        <h4>Total</h4>
                        <h4>${{totalPrice}}</h4>
                    </div>
                    <a href="/checkout" class="btn btn-primary w-100 submitbtn">CHECK OUT</a>
                    <a href="/menu" class="btn btn-secondary w-100 submitbtn">Add more food</a>
                </div>
            </div>
            {{else}}
        </div>
        <h2 id="noitem">No items in cart</h2>
        {{/if}}
    </div>
</div>